[Confluent.dist]
name=Confluent repository (dist)
baseurl=https://packages.confluent.io/rpm/{{confluent_standalone_base_ver}}/7
gpgcheck=1
gpgkey=https://packages.confluent.io/rpm/{{confluent_standalone_base_ver}}/archive.key
enabled=1

[Confluent]
name=Confluent repository
baseurl=https://packages.confluent.io/rpm/{{confluent_standalone_base_ver}}
gpgcheck=1
gpgkey=https://packages.confluent.io/rpm/{{confluent_standalone_base_ver}}/archive.key
enabled=1
